
  
    <div class = "searchbar">
      <label for="foods_name"> Search foods: </label>
      <input id="foods_name" placeholder="food name"
        type="text" [(ngModel)]="foodsSearched" (keyup)="searchItems()">
    </div>
    
<div *ngFor = "let singleFood of foodList">
  <ul>
    <p>{{singleFood.name}}</p>
    <img [src]="singleFood.image">

  </ul>

</div>

<button (click)="addFood()">Submit New Food</button>
<form (submit) = "addFood()" *ngIf = "formShowing">
    <h3>Add new Food Item</h3>
<div class = "container-fluid">
    <div>
      <label for="food-name">Name:</label>
      <input #name type="text" [(ngModel)]="newFood.name">
    </div>
    <br>
    <div>
      <label for="food-calories">Calories:</label>
      <input #email type="text" [(ngModel)]="newFood.calories">
    </div>
    <br>
    <div>
      <label for="food-image">Image:</label>
      <input #image type="text" [(ngModel)]="newFood.image">
    </div>
    <br>
    <div>
      <label for="food-quantity">Quantity:</label>
      <input #quantity type="text" [(ngModel)]="newFood.quantity">
    </div>
    <br>
    
  </div>
  <button>Submit</button>
  </form>
  

<br>

<div class = "first-list">
<div *ngFor="let oneFood of filteredFood" class = "foodbox" >
  <ul>
    <p>{{oneFood.name}}</p>
    <p>{{oneFood.calories}}</p>
    <img [src]="oneFood.image">
    <p>{{oneFood.quantity}}</p>
  </ul>
  <button (click)="addToMenu(oneFood)">Add to List</button>
</div>
 

</div>

<div class = "second-list">
    <div *ngFor="let oneFood of newList" class = "foodbox" >
        <ul>
          <p>{{oneFood.name}}</p>
          <p>{{oneFood.calories}}</p>
       
        </ul>



</div>


  
  
 







<!-- <div *ngIf="addToList()">
      <p>{{oneFood.name}}</p>
      <p>{{oneFood.calories}}</p>
  </div> -->